@import "../../../styles/shared";

:host {
  display: block;
}

.navbar {
  background-color: $navbar-bg-color;
  padding: 15px 16px;
}

.bg-inverse .nav-item {
  &.active a {
    text-decoration: underline;
  }
  a {
    color: #eceeef;
  }
}

.nav-item {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    float: none;
    margin: 0 !important;
  }

  a {
    color: #fff;

    &.brand {
      text-decoration: none;
    }
  }
}

