@import "../../../styles/shared";

:host {
  display: block;
}

.navbar {
  background-color: $navbar-bg-color;
  padding: 15px 16px;
}

.nav-item a {
  color: #fff;
}

.fa-sign-in {
  font-size: 21px;
}

